@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: sans-serif;
  color: black;
}

body {
  margin: 0;
}

h1 {
  position: absolute;
  color: white;
  top: 500px;
  left: 300px;
}

ul {
  margin-left: 2em;
}

li {
  display: inline-block;
  margin-right: 5em;
}

div {
  display:inline-block;
}

.highlighted {
  text-decoration: underline;
}

img {
  width: 100%;
}

nav {
  background-color: lightblue;
  padding: 0.1em;
}

main {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #e2e2e2;
  padding: 0.75em;
}

.name {
  font-weight: bold;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: black;
}
